@font-face {
    font-family: "Raleway";
    src: url("./assets/fonts/RalewayRegular/RalewayRegular.eot");
    src: url("./assets/fonts/RalewayRegular/RalewayRegular.eot?#iefix")format("embedded-opentype"), url("./assets/fonts/RalewayRegular/RalewayRegular.woff") format("woff"), url("./assets/fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}


@font-face {
    font-family: "Raleway";
    src: url("./assets/fonts/RalewayBold/RalewayBold.eot");
    src: url("./assets/fonts/RalewayBold/RalewayBold.eot?#iefix")format("embedded-opentype"), url("./assets/fonts/RalewayBold/RalewayBold.woff") format("woff"), url("./assets/fonts/RalewayBold/RalewayBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}



@font-face {
    font-family: "OpenSans";
    src: url("./assets/fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("./assets/fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"), url("./assets/fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("./assets/fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}



@font-face {
    font-family: "OpenSans";
    src: url("./assets/fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
    src: url("./assets/fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix")format("embedded-opentype"), url("./assets/fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"), url("./assets/fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}



@font-face {
    font-family: "Helvetica";
    src: url("./assets/fonts/HelveticaRegular/HelveticaRegular.eot");
    src: url("./assets/fonts/HelveticaRegular/HelveticaRegular.eot?#iefix")format("embedded-opentype"), url("./assets/fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"), url("./assets/fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}



@font-face {
    font-family: "SourceSansPro";
    src: url("./assets/fonts/SourceSansProRegular/SourceSansProRegular.eot");
    src: url("./assets/fonts/SourceSansProRegular/SourceSansProRegular.eot?#iefix")format("embedded-opentype"), url("./assets/fonts/SourceSansProRegular/SourceSansProRegular.woff") format("woff"), url("./assets/fonts/SourceSansProRegular/SourceSansProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "SalesforceSans";
    src: url("./assets/fonts/SalesforceSans-Bold.ttf");
    // src: url("./assets/fonts/SourceSansProRegular/SourceSansProRegular.eot?#iefix")format("embedded-opentype"), url("./assets/fonts/SourceSansProRegular/SourceSansProRegular.woff") format("woff"), url("./assets/fonts/SourceSansProRegular/SourceSansProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}
